#
# PHP is an HTML-embedded scripting language which attempts to make it
# easy for developers to write dynamically generated webpages.
#

# Cannot load both php5 and php7 modules
<IfModule !mod_php5.c>
  <IfModule prefork.c>
{% if php.scl.enabled == true %}
    LoadModule php7_module modules/lib{{ php_scl_name }}-php7.so
{% else %}
    #LoadModule php7_module modules/lib{{ php_scl_name }}-php7.so
{% endif %}
  </IfModule>
</IfModule>
